.alert {
    margin: 5px auto 0 auto;
}

.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

.card-footer {
    text-align: center;
}

.card-title {
    text-align: center;
}

/**
* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}
.main-container {
 min-height: 100vh;  
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; 
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 50px;
}

#footer-text {
    color: white;
    text-align: center;
    padding-top: 15px;
}
*/