<% include ../views/partials/homeHeader %>
    
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <% if (error && error.length>0){ %>
            <div class="alert alert-danger alert-dismissible" role="alert" style="position: absolute; margin:100px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= error %>
            </div>
        <% } %>
        <% if (success && success.length>0){ %>
            <div class="alert alert-success alert-dismissible" role="alert" style="position: absolute; margin:100px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= success %>
            </div>            
        <% } %>    
        <div class="intro-text">        
          <div class="intro-lead-in">Welcome To Our Childcare Center!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>        
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">We do care about your child. We provide professional Daycare Service.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">E-Records</h4>
            <p class="text-muted">We create a personal electronic archive for your child once you enroll in our program. You could see the daycare E-records from the website whenever you want.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-bed fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Good Environment</h4>
            <p class="text-muted">We provide your child a perfect cool, quiet, and dark sleep environment as well as healthy, fresh and delicious meals.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Professional Tuitoring</h4>
            <p class="text-muted">We have great personal tuitoring programs supported by our experienced and talented tuitoring team.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Photos</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/startbootstrap-agency/img/portfolio/01-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Beds</h4>
              <p class="text-muted">Quiet sleep environment</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/startbootstrap-agency/img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Salon</h4>
              <p class="text-muted">Funny topic salon</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/startbootstrap-agency/img/portfolio/03-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Meals</h4>
              <p class="text-muted">Healthy and delicious food</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/startbootstrap-agency/img/portfolio/04-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Tuitoring Class</h4>
              <p class="text-muted">Professional tuitoring courses</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/startbootstrap-agency/img/portfolio/05-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Environment</h4>
              <p class="text-muted">Clean and bright study environment</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/startbootstrap-agency/img/portfolio/06-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Games</h4>
              <p class="text-muted">Great amusement facilities</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/startbootstrap-agency/img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2016 Summer</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">We start our business in 2016 summer with the core team of 3 teachers. We believe we could provide services with the highest quality in the local region.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/startbootstrap-agency/img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2017 Spring</h4>
                    <h4 class="subheading">Facilites upgraded</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">The center is upgraded with new decoration and is equiped with a brand new projector and a lot of new books and various kinds of toys.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/startbootstrap-agency/img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2018 Spring</h4>
                    <h4 class="subheading">Larger tuitoring team</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">We are hiring more excellent tuitors who have plenty of experience in tuitoring young children.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4><br>FIGHT ON!<br></h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Feel free to contact our team.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/startbootstrap-agency/img/team/1.jpg" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Center Manager</p>
              <ul class="list-inline social-buttons">
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-twitter"></i>-->
                <!--  </a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-facebook-f"></i>-->
                <!--  </a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-linkedin-in"></i>-->
                <!--  </a>-->
                <!--</li>-->
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/startbootstrap-agency/img/team/2.jpg" alt="">
              <h4>Larry Parker</h4>
              <p class="text-muted">Lead Tuitor</p>
              <ul class="list-inline social-buttons">
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-twitter"></i>-->
                <!--  </a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-facebook-f"></i>-->
                <!--  </a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-linkedin-in"></i>-->
                <!--  </a>-->
                <!--</li>-->
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/startbootstrap-agency/img/team/3.jpg" alt="">
              <h4>Diana Pertersen</h4>
              <p class="text-muted">Tuitor</p>
              <ul class="list-inline social-buttons">
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-twitter"></i>-->
                <!--  </a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-facebook-f"></i>-->
                <!--  </a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">-->
                <!--  <a href="#">-->
                <!--    <i class="fab fa-linkedin-in"></i>-->
                <!--  </a>-->
                <!--</li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">We are hiring tuitors with experience in tuitoring young children. Please do not hesitate to contact us</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients -->
    <!--<section class="py-5">-->
    <!--  <div class="container">-->
    <!--    <div class="row">-->
    <!--      <div class="col-md-3 col-sm-6">-->
    <!--        <a href="#">-->
    <!--          <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/logos/envato.jpg" alt="">-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-md-3 col-sm-6">-->
    <!--        <a href="#">-->
    <!--          <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/logos/designmodo.jpg" alt="">-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-md-3 col-sm-6">-->
    <!--        <a href="#">-->
    <!--          <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/logos/themeforest.jpg" alt="">-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-md-3 col-sm-6">-->
    <!--        <a href="#">-->
    <!--          <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/logos/creative-market.jpg" alt="">-->
    <!--        </a>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</section>-->

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-heading ">Tele: (213)-456-6513</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

          </div>
        </div>
      </div>
    </section>


    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Bunk beds</h2>
                  <p class="item-intro text-muted">We provide soft and clean bunk beds for your child</p>
                  <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/portfolio/01-full.jpg" alt="">
                  <p>Here is the room for girls to sleep. The children could have a clean, quiet and dark enough sleep environment for their sleeps.</p>
                  <!--<ul class="list-inline">-->
                  <!--  <li>Date: January 2017</li>-->
                  <!--  <li>Client: Threads</li>-->
                  <!--  <li>Category: Illustration</li>-->
                  <!--</ul>-->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Topic Salon</h2>
                  <p class="item-intro text-muted">Funny topic salon hold every week</p>
                  <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/portfolio/02-full.jpg" alt="">
                  <p>We have various kinds of topic salon every week, such as English salon and presentation training salon. During the salons, children play games and learn important skills from the teacher.</p>
                  <!--<ul class="list-inline">-->
                  <!--  <li>Date: January 2017</li>-->
                  <!--  <li>Client: Explore</li>-->
                  <!--  <li>Category: Graphic Design</li>-->
                  <!--</ul>-->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Meals</h2>
                  <p class="item-intro text-muted">Children are having their lunch in our Daycare center</p>
                  <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/portfolio/03-full.jpg" alt="">
                  <p>We provide healthy, fresh and delicious meals as well as daily fresh fruits for children everyday. Meals are cooked by experienced cooker which have received good rate from the children and their parents.</p>
                  <!--<ul class="list-inline">-->
                  <!--  <li>Date: January 2017</li>-->
                  <!--  <li>Client: Finish</li>-->
                  <!--  <li>Category: Identity</li>-->
                  <!--</ul>-->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Tuitoring Courses</h2>
                  <p class="item-intro text-muted">The children are taking a tuitoring course</p>
                  <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/portfolio/04-full.jpg" alt="">
                  <p>We have a great tuitoring team with talented and experienced tuitors. The courses are delicatedly designed for young child.</p>
                  <!--<ul class="list-inline">-->
                  <!--  <li>Date: January 2017</li>-->
                  <!--  <li>Client: Lines</li>-->
                  <!--  <li>Category: Branding</li>-->
                  <!--</ul>-->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Center environment</h2>
                  <p class="item-intro text-muted">bright and spacious center area</p>
                  <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/portfolio/05-full.jpg" alt="">
                  <p>The area of the Daycare center is more than 300 square meters. The center is clean, bright and spacious.</p>
                  <!--<ul class="list-inline">-->
                  <!--  <li>Date: January 2017</li>-->
                  <!--  <li>Client: Southwest</li>-->
                  <!--  <li>Category: Website Design</li>-->
                  <!--</ul>-->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Facilites</h2>
                  <p class="item-intro text-muted">Children are playing games with each other</p>
                  <img class="img-fluid d-block mx-auto" src="/startbootstrap-agency/img/portfolio/06-full.jpg" alt="">
                  <p>The center offer a lot of books, toys and amusement facilities for the children. We promise your child will definitely have fun during his/her time spending in our center.</p>
                  <!--<ul class="list-inline">-->
                  <!--  <li>Date: January 2017</li>-->
                  <!--  <li>Client: Window</li>-->
                  <!--  <li>Category: Photography</li>-->
                  <!--</ul>-->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
    
<% include ../views/partials/homeFooter %>
